body{
    margin: 0;
    padding: 0;
}

#header{
    background-color: #f18fae;
    height: 6rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

#header img {
    height: 5rem;
}

#entrar {
    width: 5rem;
    height: 2rem;
    line-height: 2rem;
    background-color: #ec91ae;
    border: solid #FFD859 3px;
    position: absolute;
    right: 0;
    margin: 1rem;
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFD859;
    font-size: larger;
    text-decoration: none;
}

#entrar:hover {
    width: 6rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: .5rem;
    font-size: x-large;
}

#div1{
    height: 30rem;
    background-color: #FFB9E3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FF9C50;
}

#div1 div{
    width: 50%;
    padding: 4rem;
}

#div1 button {
    background-color: #F29ACF;
    color: #7B1753;
    font-size: larger;
    font-weight: 600;
    height: 3rem;
    border-radius: 2rem;
    border: #7B1753 solid 3px;
    color: #7B1753;
}

#div1 button a{
    color: #7B1753;
}

#div1 button:hover {
    opacity: .8;
}

#the-project{
    padding: 2rem;
    display: flex;
    align-items: center;
    color: #7B1753;
}

#the-project p{
    font-size: large;
    text-align: justify;
    color: #000;
}

#project-img{
    max-width: 30%;
    clip-path: circle(50%);
    margin: 0 3rem;
}

#platform{
    padding: 2rem;
    display: flex;
    align-items: center;
    color: #FF9C50;
}

#platform p{
    font-size: large;
    text-align: justify;
    color: #000;
}

#platform-img{
    max-width: 40%;
    clip-path: circle(50%);
    margin: 0 3rem;
}

@media (max-width: 480px) {
    #div1{
        flex-direction: column;
        padding: 2rem 0;
    }

    #platform, #the-project{
        flex-direction: column;
    }

    #platform-img, #project-img{
        width: 85%;
        max-width: 100%;
    }
}