.task {
    background-color: #fff;
    width: 95%;
    margin: 1rem 0 1rem 0;
    padding: .2rem 1rem 1rem 1rem;
    border-radius: 1rem;
}

.task div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaço entre os links */
}

.task a {
    padding: 5px 10px;
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    white-space: nowrap; /* Evita quebra de texto */
}

.background-subject {
    background-color: #f5a5d5;
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    width: 90%;
    margin: 2rem 5% 0 5%;
    justify-content: center;
    color: #C18B2A;
    height: auto;
    min-height: 100vh;
}

.add-task{
    background-color: rgb(156, 156, 156);
    color: #000;
    text-align: center;
    font-weight: 800;
    border-radius: 5rem;
    cursor: pointer;
}

#popup-add-task{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E464B1;
    padding: 20px;
    border-radius: 1rem;
    z-index: 1000;
    width: 30%;
    flex-direction: column;
    max-height: 70vh; /* O popup nunca vai ultrapassar 80% da altura da tela */
    overflow-y: auto;
}

#popup-add-task::-webkit-scrollbar {
    width: 8px; /* Largura da scrollbar */
}

#popup-add-task::-webkit-scrollbar-track {
    background: #f5a5d5; /* Cor do fundo da scrollbar */
    border-radius: 10px; /* Bordas arredondadas */
}

#popup-add-task::-webkit-scrollbar-thumb {
    background: #a22d6f; /* Cor da barra de rolagem */
    border-radius: 10px;
}

#popup-add-task::-webkit-scrollbar-thumb:hover {
    background: #7B1753; /* Cor ao passar o mouse */
}

#popup-add-task label{
    color: #7B1753;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#popup-add-task input {
    height: 1.5rem;
}

#popup-add-task button{
    background-color: #c5348b;
    height: 2.5rem;
    color: #fff;
    width: 100%;
    border-radius: 3rem;
    border: none;
    margin: 20px 0 0 0;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
}

#task-title, .task-name{
    width: 100%;
    background-color: #D9D9D9;
    border: none;
    height: 1.5rem;
    border-radius: 2rem;
    margin: 5px 0 5px 0;
}

.newInfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: #ce4798;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 15px;
}

@media (max-width: 700px) {
    #popup-add-task{
        width: 80%;
    }
}