body {
    margin: 0;
    padding: 0;
    background-color: #ffd8ef;
}

#header {
    background-color: #E07094;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#header img {
    height: 5rem;
}

.icon-user {
    position: absolute;
    left: 0;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
}

.card-materia{
    height: 40vh;
    width: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(255, 255, 255), rgba(255, 255, 255));
    border-radius: 1.5rem;
    margin: 2.5% 2.5% 0 2.5%;
    text-decoration: none;
}

.card-title{
    background-color: #EA7CBE;
    border-radius: 1.5rem 1.5rem 0 0;
    padding-left: 1rem;
    line-height: 3rem;
    color: #fff;
    margin: 0%;
}

@media (max-width: 768px) {
    .card-materia {
        width: 40%;
    }
}

@media (max-width: 550px) {
    .card-materia {
        width: 80%;
    }
}