body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #FFB9E3;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza a logo */
    position: relative; /* Necessário para posicionamento absoluto do ícone */
}

#header img {
    height: 5rem;
}

.icon-user {
    position: absolute;
    right: 0;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
}
